/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.text-body{
  color: blue;
  background-color: red;
}

input::-moz-placeholder{
  color: gray;
}

input::placeholder{
  color: gray;
}