/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* .text-body{
  @apply text-white;
} */

.btn {
  --tw-bg-opacity: 1;
  background-color: rgba(2, 132, 199, var(--tw-bg-opacity));
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem
}

@media (min-width: 540px) {
  .btn {
    text-align: left
  }
}

@media (min-width: 1260px) {
  .btn {
    text-align: right
  }
}

@media (min-width: 2000px) {
  .btn {
    --tw-bg-opacity: 1;
    background-color: rgba(17, 24, 39, var(--tw-bg-opacity))
  }
}